@model CSC205_Young.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.firstname @Model.middlename @Model.lastname</h4>
    <hr />
    <h5>Cellphone #: @Model.cell</h5> <h5>Relationship: @Model.relationship</h5> <h5>Family ID#: @Model.familyId</h5>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
