@model IEnumerable<CSC205_Young.Models.Family>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th class="th1">
            Family Name
        </th>
        <th class="th1">
            Address 1
        </th>
        <th class="th1">
            City
        </th>
        <th class="th1">
            State
        </th>
        <th class="th1">
            Zip
        </th>
        <th class="th1">
            Phone
        </th>
        <th class="th1"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="td1">
            @Html.DisplayFor(modelItem => item.familyname)
        </td>
        <td class="td1">
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td class="td1">
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td class="td1">
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td class="td1">
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td class="td1">
            @Html.DisplayFor(modelItem => item.homephone)
        </td>
        <td class="td1">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
